html {
  font-family: Overpass, sans-serif;
  color: #fff;
}

section {
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
}

.line {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.btn, .btn-ghost {
  color: #fff;
  border: 2px solid  rgba(255, 255, 255, 1);
}

.btn:hover {
  background: #fff;
  border-color: #fff;
}

@media only screen and (min-width: 60em) {

  .line {
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    border-top: none;
    border-bottom: none;
  }

}
